{% extends 'base.html.twig' %}

{% block title %}Modifier l'Utilisateur{% endblock %}

{% block body %}
<div class="row g-3">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <div class="row flex-between-center g-3">
                    <div class="col-12 col-sm-auto">
                        <h5 class="mb-0">Modifier: {{ user.fullName|default(user.email) }}</h5>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <a href="{{ path('app_user_index') }}" class="btn btn-link btn-sm p-0">
                            <span class="fas fa-chevron-left me-1"></span>Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body bg-subtle-light">
                {{ form_start(form) }}
                <div class="row g-3">
                    <div class="col-md-12">
                        {{ form_row(form.fullName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.roles) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.plainPassword) }}
                        <p class="text-warning fs-11 mt-1"><span class="fas fa-exclamation-triangle me-1"></span>Laissez
                            vide pour conserver le mot de passe actuel.</p>
                    </div>
                </div>

                <div class="mt-4 border-top pt-3 d-flex justify-content-between">
                    <a href="{{ path('app_user_index') }}" class="btn btn-outline-secondary px-4">Annuler</a>
                    <button class="btn btn-primary px-5">
                        <span class="fas fa-save me-1"></span>Mettre à jour
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}